[general]
ocsinventory_server_url=http://ocsinventory-server.your-domain.xy

[database]
server=my-db-server
database=my-ocs_database
username=jhon
password=wick

[mail]
server=smtp.your-domain.xy
use_ssl=0
server_port=25
sender=sender@your-domain.xy
sender_password=s3cur3P4ssw0r6
recipients=recipient1@your-domain.xy,recipient2@your-domain.xy